.searchCont{
  display: flex;
}
.searchBar{
  width: 30px;
}
.navbar-custom {
  background-color: #313442; 
    height: 10vh;
    border-bottom: 2px solid rgba(37, 31, 31, 0.2); /* Change color and thickness as needed */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adjust shadow parameters as needed */
  }
  .form-lable{
    display: flex;
    width: 30%;
    margin-top: 50px;
  }
  .search input::placeholder {
    color: #dfd9d9 !important; /* Change this to your desired color */
    opacity: 1; /* Optional: Set opacity to 1 to ensure it appears fully opaque */
  }
  .flexBar{
    display: flex;
  }
 
  